.title {
  display: flex;
  align-items: center;
  justify-content: center ;
}

.inputmat {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.outputmat {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.matrix {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
}

.matrix:before, .matrix:after {
  content: "";
  position: absolute;
  top: 0;
  border: 1px solid #000;
  width: 6px;
  height: 100%;
}
.matrix:before {
  left: -6px;
  border-right: 0;
}
.matrix:after {
  right: -6px;
  border-left: 0;
}